[submodule "components/TALLNECK-wifi-manager"]
	path = components/TALLNECK-wifi-manager
	url = https://github.com/Cyfarw9dd/TALLNECK-wifi-manager.git
[submodule "components/gui"]
	path = components/gui
	url = git@github.com:Cyfarw9dd/TallNeck-GUI.git
